# .env

# Chave secreta para a sessão do Flask
SECRET_KEY="sua-chave-secreta-super-segura"

# Chave da API do Gemini
GEMINI_API_KEY="sua-chave-da-api-do-gemini"

# Porta para o serviço do Redis
REDIS_PORT=6379

# Host do Redis. Use 'localhost' para desenvolvimento local ou 'redis' para Docker.
REDIS_HOST=redis

# Credenciais do admin padrão
DEFAULT_ADMIN_USER=admin
DEFAULT_ADMIN_PASSWORD=changeme

# Tempo de espera (em segundos) entre requisições para a API do agente
AGENT_API_COOLDOWN_SECONDS=15

# informa como a rota "/" deve agir ( se for login direciona para loguin e é como padrão, text retorna json de
#feedback, index pagina index da pasta site)
PAGINA_INDEX=index