# Arquivos de ambiente
.env

# Banco de dados local
app.db

# Arquivos de cache e compilados do Python
__pycache__/
*.pyc
*.pyo

# Diretórios de ambiente virtual
venv/
env/
.venv/

# Arquivos do IDE
.idea/